<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="range_box_joint" type="fixed">
        <parent link="base_link"/>
        <child link="range_box_link"/>
        <origin xyz="0.040 0 0.040" rpy="0 0 0"/>
    </joint>

    <link name="range_box_link">
        <visual>
            <geometry>
                <box size="0.040 0.200 0.040"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>

    <joint name="range_left_joint" type="fixed">
        <parent link="range_box_link"/>
        <child link="range_left_link"/>
        <origin xyz="0.012 0.0825 0.0" rpy="0 ${pi/2} 0"/>
    </joint>

    <joint name="range_right_joint" type="fixed">
        <parent link="range_box_link"/>
        <child link="range_right_link"/>
        <origin xyz="0.012 -0.0825 0.0" rpy="0 ${pi/2} 0"/>
    </joint>

    <link name="range_left_link">
        <visual>
            <geometry>
                <cylinder radius="0.0125" length="0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

    <link name="range_right_link">
        <visual>
            <geometry>
                <cylinder radius="0.0125" length="0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

</robot>